#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "ZETA Security Driver Protect"
#define VER_INTERNALNAME_STR        "ZETA"
#define VER_LEGALCOPYRIGHT_STR      "ZETA Security"
#define VER_ORIGINALFILENAME_STR    "ZETA_Driver.sys"
#define VER_PRODUCTNAME_STR         "ZETA"

#define VER_FILEVERSION             3,5,1,0
#define VER_FILEVERSION_STR         "3,5,1,0"

#define VER_PRODUCTVERSION          3,5,1,0
#define VER_PRODUCTVERSION_STR      "3,5,1,0"

#define VER_COMPANYNAME_STR         "ZETA Security"

#include "common.ver"